body {
    padding:0; 
    margin:0;
}

* {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, p {
    margin:0;
    padding:0;
}



:root {
    --primary-colour: #3C6D79;
    --secondary-colour: #F9AE65;
    --light-txt: #F1EDE5;
    --dark-txt: #634B66;

    --mobile-edge-padding: 26px;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--primary-colour);
    
}



.wrapper {
    min-width:280px;
}

/*Header and Logo*/
.header {
    display: flex;
    align-items: center;
    padding: var(--mobile-edge-padding);
}

.logo {
    flex: 0 0 150px;
}

.logo img {
    max-width:100%;
}


/*Section 1 - Hero*/

.section-1 {
    display:flex;
    flex-wrap: wrap;
}

.section-1 > * {
    flex: 1 1 100%;
}

.title {
    padding: var(--mobile-edge-padding);
}

.title h1 {
    color: var(--secondary-colour);
    max-width: 210px;
    font-size: 38px;
    font-weight: 500;

    
}

.hero {
    height: 50vh;
    flex: 2 1 100px;
}

.hero img {
    height:100%;
    width:100%;
    object-fit: cover;
}


.phrase-graphics {
    display:flex;
    flex-wrap: wrap;

    flex: 1 1 40px;
    color: var(--light-txt);
    font-size: 0.5em;
    padding:10px var(--mobile-edge-padding) 10px 10px;
    
}

.phrase-graphics p:first-child {
    position:absolute;
    width:200px;
    transform: rotate(90deg);
    transform-origin: bottom left;
}

.phrase-graphics p:last-child {
    align-self: flex-end;
    max-width: 100px;
}

.cta {
    display:flex;
    justify-content: center;
    padding:var(--mobile-edge-padding);
    margin: var(--mobile-edge-padding) 0;
}
.cta a {
    display:inline-block;
    color: var(--dark-txt);
    text-decoration: none;
    background-color: var(--secondary-colour);
    padding:20px 60px;
    border-radius: 30px;
}